html {
    font-family: "Microsoft YaHei";
    font-size: 12px;
}
body{
	overflow:auto;
}
.wrapper {
    width: 100%;
}

.index-wrapper{
    background-color: #e9edf0;
}

.index-wrapper .panel{
    background-color: #fff;
    height:252px;
    overflow:hidden;
}

ul {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
    -moz-padding-start: 0;
}

.table,.ui-jqgrid-htable {
    border-collapse: collapse;
    width: 100%;
    color: #666;
}

.table a.inform-title {
    color: #666;
}

.table th,.table  td,.ui-jqgrid-htable th{
	text-indent:10px;
    text-align: left;
}

.table thead tr.black {
    color: #000;
}

.table tbody tr.bold {
    font-weight: bold;
    color: #000;
}

.table tbody tr.bold a.inform-title {
    color: #000;
}

.table thead tr,.ui-jqgrid-htable thead tr{
    height: 36px;
    background-color: #f7f7f7;
    color: #878787;
}

.table tbody tr {
    height: 36px;
    border-top:1px solid #fff;
}

.ui-jqgrid{
	overflow:hidden;
}
.table tr th:last-child,
.table tr td:last-child,
.ui-jqgrid-htable tr td:last-child,
.ui-jqgrid-htable tr th:last-child {
    text-align: right;
    padding-right: 10px;
}

.separate {
    color: #CCC;
}

a:link, a:visited {
    text-decoration: none;
    color: #398ef8;
}

a:hover, a:focus, a:active {
    color: #398ef8;
}

/* .table-stripe */
.table-stripe tbody tr:nth-child(even),.ui-jqgrid-btable tr:nth-child(odd){
    background: #f7f7f7;
}
.ui-jqgrid-btable tbody tr{border:0;}
/* .table-body-only */
.table-body-only tbody tr:nth-child(even){
    background-color: #f7f7f7;
}

.table-bordered,.ui-jqgrid-htable {
    border-top: 1px solid #eee;
}

.table-bordered tr {
    border-bottom: 1px solid #eee;
}

.table-bordered tbody tr:last-child {
    border: 0;
}

.table.align-left tr th,
.table.align-left tr td {
    text-align: left;
}

.icon {
    display: inline-block;
    font-size: 10px;
    font-style: normal;
}

.table-footer,.paginationjs{
    background-color: #f7f7f7;
    overflow: auto;
    height: 40px;
    line-height: 40px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #eee;
    padding-left: 10px;
}

.list-pagination,.paginationjs-pages ul{
    list-style: none;
    overflow: hidden;
    float: right;
    border: 1px solid #eee;
    -webkit-padding-start: 0;
    margin-right: 5px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 7px;
}

.list-pagination li,.paginationjs-pages li {
    float: left;
}

.list-pagination a,.paginationjs-pages li a{
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-right: 1px solid #eee;
    color: #808080;
}

.list-pagination a.active,.paginationjs-pages li.active a{
    color: #FFF;
    background-color: #1a87ec;
}

.list-pagination li:last-child a {
    border: 0;
}

/* button */
.btn {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF !important;
    border: 0;
    outline: 0;
    padding: 0;
}

.btn-primary {
    background-color: #3a90f7;
}

.btn-warn {
    background-color: #ff9120;
}

.btn-cancel {
    background-color: #989898;
}

.btn-back {
    background-color: #3ea8f4;
    width: 90px;
    height: 36px;
    line-height: 36px;
}

a.list-mani {
    padding: 5px 12px;
    border: 1px solid #CCC;
    color: #989898;
    margin-left: 10px;
}

.btn-icon {
    display: inline-block;
}

.btn-icon i {
    font-style: normal;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #1f76dd;
    color: #FFF;
}

.btn-icon.danger i {
    background-color: #FF4431;
}

.btn-icon span {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #3a90f7;
    color: #FFF;
}

.btn-icon.danger span {
    background-color: #FF944D;
}

.panel {

}

.panel-head {
    padding-left: 5px;
    overflow: auto;
    height: 36px;
    line-height: 36px;
    background-color: #d3e5f9;
}

.panel-head.inform {
    background-color: #ffc05f;
}

.panel-head h4 {
    float: left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.panel-head a {
    float: right;
}

.panel-table .panel-head a {
    height: 0;
    margin-right: 5px;
}

.panel-table {
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.panel-table:last-child {
    margin-bottom: 0;
}

.panel-table .panel-body {
    overflow: auto;
}

.panel-table .list-num {
    position: relative;
    width: 10%;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #999;
    height: 216px;
    line-height: 216px;
}

.panel-table .list-num span {
    position: absolute;
    line-height: normal;
    font-size: 12px;
    top: 15px;
    left: 10px;
    color: #808080;
}

.panel-table .list-num b {
    font-size: 24px;
    padding-right: 5px;
    color: #000;
}

.panel-table table {
    width: 90%;
    float: left;
}

.operation {
    padding: 10px;
}

.select-tab {
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #3a90f7;
    color: #3a90f7;
    border-radius: 0;
    outline: none;
}

a.btn-inform {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background-color: #ff9120;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.form-inline {
    /*overflow: auto;*/
    /*padding: 5px 0;*/
}

.clear {
    clear: both;
}

.form-inline label {
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.form-inline input[type='text'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border: 1px solid #CCC;
    outline: 0;
    width: 120px;
    height: 30px;
    padding: 0;
    text-indent: 0.5em;
}

.form-inline select {
    float: left;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #CCC;
    border-radius: 0;
    outline: none;
}

.form-inline textarea {
    resize: none;
    border: 1px solid #CCC;
    outline: none;
    padding: 5px 0;
    text-indent: 0.5em;
}

/* 时间起止中的"至" */
.form-inline > span {
    float: left;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.form-inline .date-picker {
    float: left;
}

.control-condition {
    padding: 5px;
    /*overflow: auto;*/
}

.control-condition > .form-inline {
    padding: 5px 0;
    float: left;
}

.padding-5 {
    padding: 5px;
    overflow: auto;
}

.btn-group {
    float: right;
    padding: 5px 0;
}

.info {
    padding: 20px;
    line-height: 40px;
    border-top: 1px solid #eee;
    overflow:hidden;
    clear:both;
    display:none;
}
.info li{
	float:left;
	margin-right:10px;	
}
.info li *{
	float:left;	
}
.info li span{
    margin-right: 3px;
    font-size: 14px;
}

.info li b{
    color: #398ef8;
    margin-right: 25px;
    font-size: 14px;
    margin-left:5px;
}
.info li #dept{
	color:#333;
	margin-right:0;
}
/* chart */
#myChart, #myChart1, #myChart2 {
    float: left;
}

.legend {
    float: left;
    margin-top: 80px;
    color: #666;
}

.legend-label {
    font-style: normal;
    color: #3B8FF6;
    margin-left: 10px;
}

.legend > li {
    padding: 5px;
    overflow: hidden;
    /*height: 15px;*/
    /*line-height: 15px;*/
}

.color-bar {
    float: left;
    width: 40px;
    height: 12px;
    margin-right: 10px;
}

.color-bar.primary {
    background-color: #3B8FF6;
}

.color-bar.minimum {
    background-color: #FF921E;
}

.color-bar.maximum {
    background-color: #7AC843;
}

.info-group {
    padding: 5px 0;
    margin-right: 20px;
    display: inline-block;
}

.info-group * {
    height: 30px;
    line-height: 30px;
}

.disabled, a.disabled {
    color: #CBCBCB;
}
a.disabled{
	cursor:default;
}
.join {
    padding: 0 3px;
}

.title-child {
    color: #1F76DD;
}

.table-auth {
    border: 1px solid #eee;
}

.table-auth td, .table-auth th {
    padding: 0 10px;
}

.table-auth input[type='checkbox'] {
    margin-right: 8px;
}

.indent {
    text-indent: 2em;
}

.auth-list, .auth-list ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.auth-list li {
    height: 36px;
    line-height: 36px;
}

.form-inline.width-fixed input[type='text'],
.form-inline.width-fixed textarea {
    width: 400px;
}

.chart {
    padding: 20px;
    float:left;
}
.chart canvas,.chart ul{float:left;}

/* dialog */
.modal-lj .the-information-list label {
    width: 95px;
}

/* about datetimepicker */
/**, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0;
    padding: 4px;
    width: 20em;
    /*color: #666;*/
    font-size: 12px;
    font-weight: normal;
}

.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0;
}

.collapse.in {
    display: block;
}

.collapse {
    display: none;
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center;
}

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

.bootstrap-datetimepicker-widget table thead {
    background-color: #d3e5f9;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
    cursor: pointer;
    font-weight: normal;
}

.bootstrap-datetimepicker-widget table thead th span.icon {
    width: 100%;
    padding: 0;
}

.bootstrap-datetimepicker-widget .datepicker-days thead tr:last-child th {
    padding-bottom: 5px;
    font-weight: normal;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    text-align: center;
    border-radius: 0;
}

.bootstrap-datetimepicker-widget table td.today {
    background-color: rgba(57, 142, 248, 0.3);
}

.bootstrap-datetimepicker-widget table td.today:hover {
    background-color: rgba(57, 142, 248, 0.3);
}

.bootstrap-datetimepicker-widget table td.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #398ef8;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #398ef8 !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget .picker-switch td {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    line-height: inherit;
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0;
}

.bootstrap-datetimepicker-widget a[data-action]:hover {
    color: #666;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
    line-height: 2.5;
    height: 2.5em;
    /*width: 100%;*/
    width: 227px;
}

.bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 0;
    width: 31.5%;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
}

.bootstrap-datetimepicker-widget .timepicker-picker table .icon {
    width: 54px;
    color: #000;
}

/*.bootstrap-datetimepicker-widget .timepicker-picker table .icon-chevron-up,*/
.bootstrap-datetimepicker-widget .timepicker-picker table .icon-chevron-down {
    margin-top: -8px;
    /*border: 1px solid blue;*/
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #398ef8 !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    direction: ltr;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block !important;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

/*.datetimepicker-dropdown-bottom-right:before {
    top: -7px;
    left: 6px;
}

[class*=" datetimepicker-dropdown"]:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
}*/
.date-picker input[type='text'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border: 1px solid #CCC;
    outline: 0;
    width: 120px;
    height: 30px;
    padding: 0;
    text-indent: 0.5em;
}

.date-picker i {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #CCC;
    border-left: 0;
}

.date-picker em {
    cursor: pointer;
}

.date-picker .icon-calendar-alt-stroke {
    margin: 0;
    opacity: 1;
    color: inherit;
    font-size: inherit;
}
/* jqgrid */
.table tbody .jqgfirstrow{height:0;}
.ui-jqgrid-resize{display:none;}
#page{height:40px;background:#f7f7f7;border-top:1px solid #eee;overflow:hidden;clear:both;}
	#pg_page{width:380px;float:right;}
		#pg_page .ui-paging-info{line-height:40px;}
		#pg_page input{margin:0 5px;}
	#page_center .ui-icon{font-family:"icomoon";display:block;width:20px;height:20px;line-height:20px;color:#808080;}
	.ui-icon-seek-prev,.ui-icon-seek-next{font-size:16px;}
	.ui-icon-seek-first,.ui-icon-seek-end{font-size:10px;}
	.ui-icon-seek-prev:before{content:"\e90c";}
	.ui-icon-seek-next:before{content: "\e904";}
	.ui-icon-seek-first:before{content:"\e923";}
	.ui-icon-seek-end:before{content: "\e924";}
.loading.ui-state-active{width:0;height:0;overflow:hidden;}

.page-left{float:left;margin-top:8px;}
	.page-left *{float:left;}
	.page-left input{margin-left:10px;margin-top:6px;}
	.page-left a{padding:5px 12px;border: 1px solid #CCC;color: #989898;margin-left: 10px;}
	
 /* 流程图 */
 .flow-char{overflow:hidden;clear:both;padding-top:60px;margin:30px auto;text-align:center;position:relative;}
 	.flow-char .line{width:95%;height:4px;line-height:0;background:#ddd;position:absolute;top:73px;left:0;z-index:0;}
 	.flow-char>*{float:left;margin:0 15px;position:relative;z-index:1;}
 	.flow-char>span:nth-of-type(1){margin-left:0;}
 	.flow-char>span:nth-of-type(2){margin-right:0;}
 	.flow-char>span{width:60px;height:30px;line-height:30px;border-radius:15px;background:#3B8FF6;color:#fff;}
 	.flow-char>label,.flow-char .span-par span{width:100px;line-height:30px;color:#fff;}
 	.flow-char .bg0,.process-dis .bg0{background:#ccc;}
 	.flow-char .bg1,.process-dis .bg1{background:#7ac843;}
 	.flow-char .bg2,.process-dis .bg2{background:red;}
 	.flow-char .bg3,.process-dis .bg3{background:#ff921e;}
 	.flow-char .span-par{padding-left:20px;}
 	.flow-char .span-par2{background:url(../img/span-par2.png) left center no-repeat;}
 	.flow-char .span-par3{background:url(../img/span-par3.png) left center no-repeat;}
 		.flow-char .span-par span{display:block;padding:0;text-align:center;margin:10px 0;}
 		.flow-normal .antzone{width:120px;height:60px;line-height:60px;padding:37px 0 0 70px;margin:-52px 0 0 -70px;}
 		.flow-normal .antzone.bg0{background:url(../img/bg0.png) no-repeat;}
 		.flow-normal .antzone.bg1{background:url(../img/bg1.png) no-repeat;}
 		.flow-normal .antzone.bg2{background:url(../img/bg2.png) no-repeat;}
 		.flow-normal .antzone.bg3{background:url(../img/bg3.png) no-repeat;}
 	
 /* 临时任务流程图 */
 .flow-temp{width:680px;}
 	.flow-temp .antzone{width:120px;height:60px;line-height:60px;padding:37px 0 0 198px;margin:-52px 0 0 -198px;}
 	.flow-temp .antzone.bg0{background:url(../img/temp0.png) no-repeat;}
	.flow-temp .antzone.bg1{background:url(../img/temp1.png) no-repeat;}
	.flow-temp .antzone.bg2{background:url(../img/temp2.png) no-repeat;}
	.flow-temp .antzone.bg3{background:url(../img/temp3.png) no-repeat;}
/* 流程图说明 */
.process-dis{width:380px;margin:20px auto;}
	.process-dis *{float:left;}
	.process-dis em{width:30px;height:10px;margin:2px 5px 0 20px;}
/* 弹出框--上传附件 */
.madal{width:400px;height:auto;position:fixed;top:50%;left:50%;margin:-200px 0 0 -200px;border:1px solid #ddd;background:#fff;}
 	.modal .upload-container{margin-bottom:10px;}
/* 系统通知详情 */
#detials .modal-body p *{float:left;line-height:30px;}
#detials .modal-body p label{width:80px;text-align:right;font-weight:bold;margin-right:5px;}
/* 权限配置 */
.permission{width:100%;margin-top:10px;}
	.thead{padding:0 10px;height:40px;line-height:40px;background:#f7f7f7;border-top:1px solid #eee;}
		.thead span{float:left;width:30%;color:#888;font-weight:bold;}
	.tbody{padding:0 10px;}
		.tbody .list{border-bottom:1px solid #eee;}
		.tbody .list label{float:left;height:36px;line-height:36px;color:#888;}
		.tbody .list>label{width:100%;}
			.tbody label input{float:left;margin-top:12px;margin-right:5px;}
			.tbody label label{line-height:36px;}
		.tbody .list>ul{float:left;width:60%;margin-left:30%;}
			.tbody .list li{width:100%;}
			.tbody .list ul li *{float:left;}
			.tbody .list li ul{width:100%;}
				.tbody .list li ul input{margin-left:20px;}
				.tbody .list li>label,.tbody .list li>span{width:50%;}
				.tbody .list li span{line-height:36px;color:#888;}
.height230{height:230px;overflow:auto;}	
.height162{height:162px;}			
.h278{height:278px;overflow:auto;}