#set($path = ${rc.contextPath})

<link rel="stylesheet" href="$path/static/css/index.css">
    
<link rel="stylesheet" href="$path/static/css/font.css">

<link rel="stylesheet" href="$path/static/css/normalize.css">

<link rel="stylesheet" href="$path/static/css/style.css">


